*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

:root{
  --font-family-leckerli: "Leckerli One", serif;
  --font-family-open-sans: "Open Sans", serif;
  --font-family-baloo2: "Baloo 2", serif;

  --logo: 400 2.5rem var(--font-family-leckerli);
  --body-light: 300 1rem var(--font-family-open-sans);
  --heading-md: 600 1.75rem var(--font-family-baloo2);
  --heading-sm: 600 1.125rem var(--font-family-baloo2);
  --body-md: 500 1rem var(--font-family-open-sans);
  --body-sm: 500 .8rem var(--font-family-open-sans);
  --body-xs: 500 .6rem var(--font-family-open-sans);

  --brand-light:#59B2FF;
  --brand-mid:#3487CF;
  --brand-dark:#1D6FB6;

  --danger:#FF5959;

  --input-base:#1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button:#2D3136;
  --shape-hover: #383d42;
  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;
  --semantic-error: #FF5959;

  /* Accent color */

  --pink: #FF598B;
}

body{
   background-color: #1E1E1E;
   color: var(--text-heading);
   font: var(--body-sm);
}

h1{
  font: var(--heading-md);
  color: var(--text-heading);
}

label{
  font: var(--body-sm);
  color: var(--text-body);
}

label + input{
  margin-top: 0.75rem;
}
fieldset{
  margin-bottom: 3rem;
}
legend{
  display: flex;
  align-items: center;
  gap: 0.75rem;

  font: var(--heading-sm);
  color: var(--text-heading);
}
.border{
  width: 100%;
  display: flex;
  border: 1px solid var(--input-stroke);
  margin-bottom: 1rem;
}
.flex{
  display: flex;
}