#app{
  display: grid;
  grid-template-columns: 34.375% 65.625%;
  height: 100vh;
  padding: 1.25rem;

}

aside{
  background: url(../assets/Background.png) no-repeat center/cover;
  border-radius: 0.75rem;
  padding:2rem;
  margin-right: 1.25rem;
  h1{
    font:var(--logo);
    color: var(--pink);
    margin-top: 1rem;
  }
  p{
    font: var(--body-light);
    color: var(--text-heading);
    margin-top: 8px;
  }
  img{
    width: 45px;
    height: 48px;
  }
}
main{
  background-color: var(--shape-body);
  border-radius: .75rem;
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
 

  .form-container{
    max-width: 70%;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

 

}